/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
    text-decoration: none;
    list-style: none;
}

/* ----- */

:root {
    font-size: 62.5%;

    /* Primary */

    --light-red-primary: hsl(356, 100%, 66%);   /* (CTA text) */
    --very-light-red-primary: hsl(355, 100%, 74%);  /* (CTA hover background) */
    --very-dark-blue: hsl(208, 49%, 24%);   /* (headings) */

    /* Neutral */

    --white: hsl(0, 0%, 100%);  /* (text) */
    --grayish-blue: hsl(240, 2%, 79%);  /* (footer text) */
    --very-dark-grayish-blue: hsl(207, 13%, 34%);   /* (body copy) */
    --very-dark-black-blue: hsl(240, 10%, 16%); /* (footer background) */

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

/* MOBILE FIRST */

body {
    width: 32rem;
    font-size: 1.6rem;
    margin: 0 auto;
}

.container {
    border: 1px solid black;    /* FOR WHILE, BORDER TEST */
}

header {
    background-color: var(--light-red-gradient);
    background-image: url(./files/images/bg-pattern-intro-mobile.svg);
    background-position: center;    
    padding: 4rem 2.2rem 10rem;
    border-bottom-left-radius: 6rem;
}

.menuDropdownMobile {
    display: none;
}

.wrapLogoMenuHamburguer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.imageLogo {
    width: 25%;
}

.imageMenuHamburguer {
    cursor: pointer;
}

.titleHeader {
    color: var(--white);
    text-align: center;
    margin-bottom: 2rem;
}

.subtitleHeader {
    color: var(--white);
    text-align: center;
    width: 95%;
    margin-bottom: 4rem;
}

.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttonStart {
    background-color: var(--white);
    color: var(--light-red-primary);
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
    text-align: center;
}

.buttonStart:hover {
    background-color: var(--very-light-red-primary);
    color: var(--white);
    /* transition: ease-in-out 200ms; */
}

.buttonLearn {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
    text-align: center;
}

.buttonLearn:hover {
    border: none;
    background-color: var(--white);
    color: var(--very-light-red-primary);
    /* transition: ease-in-out 200ms; */
}