/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
    text-decoration: none;
    list-style: none;
}

/* ----- */

:root {
    font-size: 62.5%;

    /* Primary */

    --light-red-primary: hsl(356, 100%, 66%);   /* (CTA text) */
    --very-light-red-primary: hsl(355, 100%, 74%);  /* (CTA hover background) */
    --very-dark-blue: hsl(208, 49%, 24%);   /* (headings) */

    /* Neutral */

    --white: hsl(0, 0%, 100%);  /* (text) */
    --grayish-blue: hsl(240, 2%, 79%);  /* (footer text) */
    --very-dark-grayish-blue: hsl(207, 13%, 34%);   /* (body copy) */
    --very-dark-black-blue: hsl(240, 10%, 16%); /* (footer background) */

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

/* MOBILE FIRST */

body {
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
    width: 32rem;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: 4rem 2.2rem 10rem;
    border-bottom-left-radius: 6rem;
    margin-bottom: 8rem;
    background-color: var(--light-red-gradient);
    background-image: url(./files/images/bg-pattern-intro-mobile.svg);
    background-position: center;    
}

.menuDropdownMobile {
    display: none;
}

.menuDropdownMobile li {
    text-align: center;
    margin-bottom: 2rem;
}

.menuDropdownMobile .mobileItem {
    color: var(--very-dark-black-blue);
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-size: 1.8rem;
}

.mobileSubitemProduct, .mobileSubitemCompany, .mobileSubitemConnect {
    display: none;
}

.menuDropdownMobile .mobileSubitem .mobileSubitemText {
    color: var(--very-dark-grayish-blue);
    font-weight: bold;
    margin-bottom: 1rem;
}

.open { /* To open all menu box (itm and subitem). */
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 27.5rem;
    padding: 3rem;
    top: 10rem;
    border-radius: 1rem;
}

.mobileSubitemProductOpen, .mobileSubitemCompanyOpen, .mobileSubitemConnectOpen {    /* To open only subitem box. */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgba(128, 128, 128, 0.158);
    font-weight: bold;
    border-radius: 1rem;
    padding: 2rem 0;
}

.mobileSubitemText {
    color: var(--very-dark-grayish-blue);
    line-height: 3rem;
}

.arrow {
    transform: rotate(180deg);
}

.loginSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--grayish-blue);
}

.loginSignup .buttonLogin {
    font-size: 1.8rem;
    color: var(--very-dark-black-blue);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.loginSignup .buttonSignup {
    font-size: 1.8rem;
    color: var(--white);
    font-weight: bold;
    background-color: var(--light-red-gradient);
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.loginSignup .buttonSignup:hover {
    color: var(--light-red-gradient);
    background-color: var(--white);
    border: 1px solid var(--light-red-gradient);
}

.wrapLogoMenuHamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.imageLogoHeader {
    width: 25%;
}

.imageMenuHamburger {
    cursor: pointer;
}

.titleHeader {
    color: var(--white);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.subtitleHeader {
    color: var(--white);
    text-align: center;
    width: 95%;
    margin-bottom: 4rem;
}

.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttonStart {
    background-color: var(--white);
    color: var(--light-red-primary);
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
}

.buttonStart:hover {
    background-color: var(--very-light-red-primary);
    color: var(--white);
    transition: ease-in-out 200ms;
}

.buttonLearn {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
}

.buttonLearn:hover {
    border: none;
    background-color: var(--white);
    color: var(--very-light-red-primary);
    transition: ease-in-out 200ms;
}

/* MAIN, SECTION 1 */

.titleSection1 {
    font-size: 2.2rem;
    color: var(--very-dark-blue);
    text-align: center;
    margin-bottom: 4rem;
}

.imageSection1 {
    width: 30rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.titleSection1-2 {
    font-size: 2.2rem;
    color: var(--very-dark-blue);
    text-align: center;
}


.textSection {
    color: var(--very-dark-grayish-blue);
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
}

/* MAIN, SECTION 2 */

.section-2 {
    background-color: var(--very-dark-gray-blue);
    background-image: url(./files/images/bg-pattern-circles.svg);
    background-position: top;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;    
    padding-top: 22rem;
    padding-bottom: 4rem;
    position: relative;
    top: 15rem;
}

.imageSection2 {
    width: 30rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    position: absolute;
    top: -35%;
    left: 1rem;
}

.titleSection2 {
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

.textSection2 {
    color: var(--white);
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
}

/* MAIN, SECTION 3 */

.titleSection3 {
    font-size: 2.2rem;
    color: var(--very-dark-blue);
    text-align: center;
}

.imageSection3 {
    width: 30rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 20rem;
}

/* FOOTER */

.footer {
    border-top-right-radius: 6rem;
    padding: 6rem;
    background-color: var(--very-dark-black-blue);
}

.imageLogoFooter {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.wrapItems {
    margin-bottom: 4rem;
}

footer .footerTitle {
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    cursor: pointer;
}

footer p {
    color: var(--grayish-blue);
    text-align: center;
    margin: 0.8rem 0;
    cursor: pointer;
}

.footerSignature {
    margin-top: 8rem;
    border-top: 0.5px solid var(--grayish-blue);
}

.textFooter-p {
    color: var(--white);
    margin-top: 1.5rem;
}

.footerSignature a {
    color: var(--very-light-red-primary);
}

.footerSignature a:hover {
    color: var(--light-red-primary);
    font-weight: bold;
    transition: ease-in-out 200ms;
}

/* DESKTOP VERSION, 1024px */

@media (min-width: 1024px) {

}